Places_Data/
VD_Data/
VD_Data.zip
View_Directions.zip
__pycache__/
.ipynb_checkpoints
ND_Data/
ND_Data.zip
Pano_Data/
Pano_Data.zip
Pano_Data
pano_detection_task/prelim_csv/
pano_detection_task/Training/training_results/
view_directions_task/Training/training_results/last_model/
view_directions_task/Training/training_results/weights/
*.bat
*.sh