Places_Data/
VD_Data/
VD_Data.zip
View_Directions.zip
__pycache__/
.ipynb_checkpoints
ND_Data/
ND_Data.zip
Pano_Data/
Pano_Data.zip
Pano_Data
pano_detection_task/prelim_csv/

view_directions_sequence/cleaning_data/del
view_directions_sequence/cleaning_data/side
view_directions_sequence/cleaning_data/lon
seq_data.zip
view_directions_sequence/seq_data/
*feather
*.bat
*.sh

view_directions_sequence/training/tuner_run
**/hl/
**/weights/
**/logs/
**/last_model
**tmp/